####### NATIVE COMMANDS #######
# Toggle dark mode (inverted colors)
toggle_dark_mode <S-f8>

# Toggle custom color mode. You can specify the text background color in your `prefs_user.config` file
# see https://sioyek-documentation.readthedocs.io/en/latest/configuration.html#custom-background-color-and-custom-text-color
toggle_custom_color <f8>


####### CUSTOM COMMANDS #######