####### PREFERENCES #######

# Urls to use when executing external_search commands
search_url_g    https://scholar.google.com/scholar?q=
search_url_l    http://libgen.rs/scimag/?q=
search_url_s    https://www.semanticscholar.org/search?q=
search_url_w    https://www.google.com/search?q=

# Name of the font to use for UI text
ui_font Noto Sans

# Semicolon-separated list of command to execute upon sioyek startup
#startup_commands   toggle_visual_scroll;toggle_dark_mode

# Increase search speed but increases memory usage
super_fast_search   1

##############################################################################

## sioyek-python-extensions ##
# https://github.com/ahrm/sioyek-python-extensions

new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}" "jesiankeith.herman@bicol-u.edu.ph"
control_click_command _download_paper

new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"

new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0